extends: relaxed
ignore: |
  charts/
rules:
  line-length:
    max: 300
    level: warning
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
    check-keys: false
    level: warning
  comments:
    min-spaces-from-content: 1
    level: warning
